In [2]:
import pandas as pd

In [15]:
# Student Performance in Portuguese Lecture dataset
# To reach detailed information about the dataset, https://archive.ics.uci.edu/dataset/320/student+performance
# Target transformation was applied to transform the problem into multi-class classification with balanced class distribution
# Predicting the final grade of a student is main mission

student_data = pd.read_csv("./Dataset/student-por.csv", sep=";")
print("Data Shape", student_data.shape)

student_data["target"] = student_data[["G1", "G2", "G3"]].mean(axis=1)
student_data["target"] = pd.qcut(student_data["target"], q=3, labels=["Bad Grade", "Average Grade", "Great Grade"])
student_data.drop(columns=["G1", "G2", "G3"], inplace=True)

# throughout the homework, student-final.csv file will be used.
student_data.to_csv("./Dataset/student-final.csv", index=False)
student_data

Data Shape (649, 33)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,target
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,4,Bad Grade
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,2,Bad Grade
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,6,Average Grade
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,0,Great Grade
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,0,Average Grade
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,yes,no,5,4,2,1,2,5,4,Bad Grade
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,yes,no,4,3,4,1,1,1,4,Great Grade
646,MS,F,18,U,GT3,T,1,1,other,other,...,no,no,1,1,1,1,1,5,6,Average Grade
647,MS,M,17,U,LE3,T,3,1,services,services,...,yes,no,2,4,5,3,4,2,6,Bad Grade
648,MS,M,18,R,LE3,T,3,2,services,other,...,yes,no,4,4,1,3,4,5,4,Average Grade

In [22]:
# Appliances energy prediction dataset
# To reach detailed information about the dataset, https://archive.ics.uci.edu/dataset/374/appliances+energy+prediction
# Target transformation was applied to transform the problem into binary classification problem with balanced class distribution
# Predicting energy appliances whether it is under or over threshold. Threshold is selected as median of energy appliances

energy_data = pd.read_csv("./Dataset/energydata_complete.csv")
print("Data Shape", energy_data.shape)

energy_data["target"] = pd.qcut(energy_data["Appliances"], q=2, labels=["Under the threshold", "Over the threshold"])
energy_data.drop(columns=["Appliances"], inplace=True)

# throughout the homework, energydata-final.csv file will be used.
energy_data.to_csv("./Dataset/energydata-final.csv", index=False)
energy_data.head()

Data Shape (19735, 29)

,date,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,target
0,2016-01-11 17:00:00,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433,Under the threshold
1,2016-01-11 17:10:00,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195,Under the threshold
2,2016-01-11 17:20:00,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668,Under the threshold
3,2016-01-11 17:30:00,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389,Under the threshold
4,2016-01-11 17:40:00,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097,Under the threshold

In [28]:
# Superconductivity prediction dataset
# To reach detailed information about the dataset, https://archive.ics.uci.edu/dataset/464/superconductivty+data
# Target transformation was applied to transform the problem into multiclass classification problem with balanced class distribution
# Predicting critical temperature to superconductivity in three different critical temperature classes which are low, mid and high.

superconductivity_data = pd.read_csv("./Dataset/train.csv")
print("Data Shape", superconductivity_data.shape)
superconductivity_data["target"] = pd.qcut(superconductivity_data["critical_temp"], q=3, labels=["Low Critical Temp", "Mid Critical Temp", "High Critical Temp"])
superconductivity_data.drop(columns=["critical_temp", "number_of_elements"], inplace=True)

# throughout the homework, superconductivity-final.csv file will be used.
superconductivity_data.to_csv("./Dataset/superconductivity-final.csv", index=False)
superconductivity_data.head()

Data Shape (21263, 82)

,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,wtd_std_atomic_mass,...,wtd_mean_Valence,gmean_Valence,wtd_gmean_Valence,entropy_Valence,wtd_entropy_Valence,range_Valence,wtd_range_Valence,std_Valence,wtd_std_Valence,target
0,88.944468,57.862692,66.361592,36.116612,1.181795,1.062396,122.90607,31.794921,51.968828,53.622535,...,2.257143,2.213364,2.219783,1.368922,1.066221,1,1.085714,0.433013,0.437059,Mid Critical Temp
1,92.729214,58.518416,73.132787,36.396602,1.449309,1.057755,122.90607,36.161939,47.094633,53.979870,...,2.257143,1.888175,2.210679,1.557113,1.047221,2,1.128571,0.632456,0.468606,Mid Critical Temp
2,88.944468,57.885242,66.361592,36.122509,1.181795,0.975980,122.90607,35.741099,51.968828,53.656268,...,2.271429,2.213364,2.232679,1.368922,1.029175,1,1.114286,0.433013,0.444697,Mid Critical Temp
3,88.944468,57.873967,66.361592,36.119560,1.181795,1.022291,122.90607,33.768010,51.968828,53.639405,...,2.264286,2.213364,2.226222,1.368922,1.048834,1,1.100000,0.433013,0.440952,Mid Critical Temp
4,88.944468,57.840143,66.361592,36.110716,1.181795,1.129224,122.90607,27.848743,51.968828,53.588771,...,2.242857,2.213364,2.206963,1.368922,1.096052,1,1.057143,0.433013,0.428809,Mid Critical Temp

In [44]:
# Musk prediction dataset
# To reach detailed information about the dataset, https://archive.ics.uci.edu/dataset/74/musk+version+1, imbalanced target distribution

musk_cols = ["molecule_name", "conformation_name"] + [f"f{x}" for x in range(166)] + ["target"]
musk_data = pd.read_csv("./Dataset/clean1.data", header=None)
musk_data.columns = musk_cols

# throughout the homework, muskdata-final.csv file will be used.
musk_data.to_csv("./Dataset/muskdata-final.csv", index=False)
musk_data.head()

,molecule_name,conformation_name,f0,f1,f2,f3,f4,f5,f6,f7,...,f157,f158,f159,f160,f161,f162,f163,f164,f165,target
0,MUSK-188,188_1+1,42,-198,-109,-75,-117,11,23,-88,...,-74,-129,-120,-38,30,48,-37,6,30,1.0
1,MUSK-188,188_1+2,42,-191,-142,-65,-117,55,49,-170,...,-302,60,-120,-39,31,48,-37,5,30,1.0
2,MUSK-188,188_1+3,42,-191,-142,-75,-117,11,49,-161,...,-73,-127,-120,-38,30,48,-37,5,31,1.0
3,MUSK-188,188_1+4,42,-198,-110,-65,-117,55,23,-95,...,-302,60,-120,-39,30,48,-37,6,30,1.0
4,MUSK-190,190_1+1,42,-198,-102,-75,-117,10,24,-87,...,-73,-127,51,128,144,43,-30,14,26,1.0

In [32]:
# I transformed the problem into whether the post received any comment or not from predicting how many comments the blog post received.
# To reach detailed information about the dataset, https://archive.ics.uci.edu/dataset/304/blogfeedback, imbalanced target distribution

blog_data = pd.read_csv("./Dataset/blogData_train.csv", header=None)

# assigning column names
blog_data.columns = [f"f{x}" for x in range(280)] + ["received_comments"]
blog_data["received_comments"] = blog_data["received_comments"].clip(lower=0).astype("int")

# creating imbalanced class names with nearly 2:1 ratio
blog_data["target"] = blog_data.received_comments.values
blog_data.loc[blog_data.received_comments == 0, "target"] = "Not include any comment"
blog_data.loc[blog_data.received_comments > 0, "target"] = "Include comment"

blog_data.drop(columns=["received_comments"], inplace=True)
# throughout the homework, blogdata-final.csv file will be used.
blog_data.to_csv("./Dataset/blogdata-final.csv", index=False)